<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CollectionMapper">
    <insert id="collection">
        insert into collection (u_id,q_id) values (#{uId},#{qId})
    </insert>

    <update id="deCollection">
        update collection set state = 2  where u_id = #{uId} and q_id = #{qId}
    </update>

    <update id="deCollectionByQid">
        update collection set state = 2  where q_id = #{qId}
    </update>

    <select id="ifCollection" resultType="int">
        select count(*) from collection where q_id = #{qId} and u_id = #{uId}
    </select>

    <select id="select" resultType="MyCollection" parameterType="QueryCollection">
        select * from collection where u_id = #{uId} and state = 1 order by create_time desc limit #{current},#{limit}
    </select>

    <select id="selectSize" resultType="int" parameterType="QueryCollection">
        select count(*) from collection where u_id = #{uId} and state = 1
    </select>

</mapper>