<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentLv1Mapper">
    <update id="support">
        update comment_lv1 set like_num = like_num + 1 where id = #{cId}
    </update>
    <select id="selectAllByQueryComment1" resultType="CommentLv1">
        select * from comment_lv1 where q_id = #{qId} order by create_time limit #{current},#{limit}
    </select>
    <insert id="postCommentLv1" parameterType="CommentLv1">
        insert into comment_lv1(q_Id,u_Id,comment) values (#{qId},#{uId},#{comment})
    </insert>

    <update id="addCommentLv1Num">
        update comment_lv1 set comment_num = comment_num + 1 where id = #{c1Id}
    </update>
</mapper>