<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TagsMapper">
    <select id="select" resultType="Tags" >
        select * from tags;
    </select>
    <insert id="insert">
        insert into post_tag value(#{qId},#{tagId});
    </insert>
</mapper>